---
const greeting = "world";
let posts = [
    {
        title:"post 0",
        body:"This is my first  Post"
    },
       {
        title:"post 1",
        body:"This is my second  Post"
    },
       {
        title:"post 2",
        body:"This is my third  Post"
    },
       {
        title:"post 3",
        body:"This is my fourth  Post"
    }

];
---

{
    posts.map((post)=> (
    <> 
      <h1>{post.title}</h1>
        <p>{post.body}</p>
    </>
    ))
}


<h1>Hello {greeting}</h1>